.shadow {
    background-color: var(--color-panel-solid);
    border: 1px solid var(--gray-8);
    box-shadow: 0 0 var(--black-a12);
    box-sizing: border-box;
}

.margin {
    width: 100%;
    margin: 20px;
}

.shadow,
.border {
    border-radius: 0.5rem;
}

.border {
    border: 2px dashed var(--gray-7);
    margin-top: 24px;
}
